@model IEnumerable<Model.Model.User>
@{
    ViewData["Title"] = "Читатели";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center">Читатели</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.MiddleName</td>
                    <td>@user.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
